.paw {
    width: 400px;
    margin-left: 300px;
}

.div-conta {
    display: flex;
}

.info {
    font-family: 'Montserrat', sans-serif;
}

.card-img-top {
    height: 250px;
}

.homeP {
    font-family: 'Open Sans', sans-serif;
}