<div bsModal #modalVerMas="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
data-backdrop="static" aria-hidden="true">
<div class="modal-dialog modal-xl modal-dialog-scrollable modal-dialog-centered" role="document">
  <div class="modal-content redondear">
    <div class="modal-header bg-primary text-white">
      <h4 id="dialog-sizes-name1" class="modal-title pull-left text-center"><img style="width: 50px;" src="assets/img/adoptado.svg" alt="">INFORMACION DE LA MASCOTA MASCOTA</h4>
      <button type="button" (click)="cerrar()" class="close pull-right" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
  </div>
    <div class="modal-body">
      <div class="row mt-4">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                          <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                  <img [src]="mascota | imagen" alt="">
                                </div>
                            </div>
                    </div>
                    <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <small for="inputAddress">NOMBRE: </small>
                                    <input [(ngModel)]="mascota.PetName" type="text" class="form-control text-uppercase" disabled>
                                </div>
                            </div>
                            <div class="col-6">
                              <div class="form-group">
                                  <small for="inputAddress">AÑOS: </small>
                                  <input [(ngModel)]="mascota.Age" type="text" class="form-control" disabled>
                              </div>
                          </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <div class="form-group">
                            <small for="inputAddress">DESCRIPCION: </small>
                            <input [(ngModel)]="mascota.Description" type="text" class="form-control text-uppercase" disabled>
                        </div>
                    </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="modal-footer">
    <button (click)="cerrar()"  class="btn btn-danger">CERRAR</button>
    <button class="btn btn-primary" >ENVIAR</button>
  </div>
    </div>
  </div>
</div>

