.titulo {
    text-align: center;
}

.paw {
    width: 400px;
    margin-left: 200px;
}

.div-conta{
    display: flex;
}

.tit {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 30px;
}

.about- {
    font-family: 'Open Sans', sans-serif;
}

.about {
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    font-size: 18px;
    margin: 20px;
    font-weight: bold;
}