.titulo {
    text-align: center;
}

.paw {
    width: 400px;
    margin-left: 200px;
}

.div-conta{
    display: flex;
}

.tit {
    text-align: center;
    margin-bottom: 30px;
}

.lis-adopt {
    text-align: justify;
    margin: 20px;
    font-weight: bold;
}