<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
    </style>
<div class="card">
    <div class="card-header text-white" style="background-color: #35261C;">
        LISTADO DE FORMULARIOS
    </div>
    <div class="card-body">
        <br>
</div>
        <div class="row mt-3">
            <div class="col-12">
                <div class="overflow-auto">
                    <table class="table table-striped table-bordered table-hover table-responsive-lg table-sm"
                        >
                        <thead>
                            <!-- style="color: white; -->
                            <tr class="fo text-white" style="background-color: #35261C;">
                                <th class="medio">
                                    NOMBRE DE SOLICITANTE
                                </th>
                                <th class="medio">
                                    TELEFONO
                                </th>
                                <th class="medio">
                                    CORREO
                                </th>
                                <th  class="medio">
                                    NOMBRE DE MASCOTA
                                </th>
                                <th class="medio">
                                    EDAD
                                </th>
                                <th class="medio">
                                    RAZA
                                </th>
                                <th class="medio">
                                    MOTIVO DE ADOPCION
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="medio" *ngFor="let form of listaFormularios">
                                <td class="medio">{{form.nombreSolicitante | uppercase}}</td>
                                <td class="medio">{{form.telefono}}</td>
                                <td class="medio">{{form.correo | uppercase}}</td>
                                <td class="medio">{{form.nombreMascota | uppercase}}</td>
                                <td class="medio">{{form.edad}}</td>
                                <td class="medio">{{form.raza | uppercase}}</td>
                                <td class="medio">{{form.motivoAdopcion | uppercase}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

