<div class="card">
    <div class="card-header text-white" style="background-color: #35261C;">
        LISTADO DE FORMULARIOS
    </div>
    <div class="card-body">
        <br>
</div>
        <div class="row mt-3">
            <div class="col-12">
                <div class="overflow-auto">
                    <table class="table table-striped table-bordered table-hover table-responsive-lg table-sm"
                        >
                        <thead>
                            <!-- style="color: white; -->
                            <tr class="text-white" style="background-color: #35261C;">
                                <th class="text-center">
                                    NOMBRE DE SOLICITANTE
                                </th>
                                <th class="text-center">
                                    TELEFONO
                                </th>
                                <th class="text-center">
                                    CORREO
                                </th>
                                <th  class="text-center">
                                    NOMBRE DE MASCOTA
                                </th>
                                <th class="text-center">
                                    EDAD
                                </th>
                                <th class="text-center">
                                    RAZA
                                </th>
                                <th class="text-center">
                                    MOTIVO DE ADOPCION
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="text-align: center;" *ngFor="let form of listaFormularios">
                                <td>{{form.nombreSolicitante | uppercase}}</td>
                                <td>{{form.telefono}}</td>
                                <td>{{form.correo | uppercase}}</td>
                                <td>{{form.nombreMascota | uppercase}}</td>
                                <td>{{form.edad}}</td>
                                <td>{{form.raza | uppercase}}</td>
                                <td>{{form.motivoAdopcion | uppercase}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

